@charset "utf-8";

.accion_bg {
	background-color: rgb(216, 216, 216);
	position: relative;
}

.accion_header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	height: 85vh;
}

.accion_info{
  width: 60%;
  left: 15%;
  top: 10%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.accion_palabras{
	text-align: left;
}

.accion_palabras h1{
	font-size: 62px;
}

.accion_palabras p{
	margin: 10px 0 40px;
	font-size: 23px;
	color: rgb(149, 147, 156);
}

.accion_palabras h2{
	font-size: 23px;
	color: rgba(149, 147, 156, 0.60);
}

.accion_boton_container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: stretch;
}

.aBoton_info {
	color: rgb(0, 0, 0);
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	padding: 0 0 0 1%;
}

.aBoton_info:hover {
	color: #3be5b2;
	transition: 1s;
}

.aBoton_info img {
	opacity: 0.8;
	cursor: pointer;
}

.aBoton_img {
	width: 135px;
	height: 135px;
}

.accion_img {
	width: 40%;
	height: 100%;
	right: 0;
	position: absolute;
}

.accion_container{
	width: 100%;
	height: 100%;
}

.temp {
	position: relative;
}



