.fondo {
  background-color: rgb(216, 216, 216);
  overflow: hidden;
}

.links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.4s;
}

.links:hover {
  color:  #3be5b2;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

.imagenT {
  margin-left: -450%;
}