

.column {
    float: left;
    padding: 50px;
}
  
.center {
    width: 100%;
    text-align: center;
}

.right {
    
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tutela_container{
    height: 300vh;
    width: 100%;
}

.tutela_container img{
    height: 100%;
    width: 100%;
}

.peticion_container{
    height: 400vh;
    width: 100%;
}

.peticion_container img{
    height: 100%;
    width: 100%;
}