

.column {
    float: left;
    padding: 200px;
}
  
.left {
    width: 70%;
    text-align: left;
}

.right {
    
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tutela_container{
    height: 300vh;
    width: 100%;
    background-color: aqua;
}

.tutela_container img{
    height: 100%;
    width: 100%;
}